include CITATION.bib
include README.md CHANGELOG.md requirements.txt requirements-dev.txt constraints-tested.txt
include dlyso_pipeline_docs.html
recursive-include docs *.md *.png *.csv *.json
recursive-include examples *.csv
recursive-include tools *.py
recursive-include tests *.py
recursive-include .github *.yml
recursive-include dlyso_assets *.md *.html *.json *.csv *.png
recursive-include scripts *.py *.json
prune runs
prune myrun
prune .venv
prune .git
prune sed_filter_analysis
global-exclude *.pt *.pyc *.log .DS_Store

include install.py
